.exchanges-container{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    padding-bottom: 50px;
    height: auto;
}

.exchanges-filter-container{
    padding: 20px 10px 10px 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.exchanges-filter-container h2{
    margin-right: 10px;
    font-family: 'Poppins';
    font-size: 1.3em;
    margin-bottom: 0;
}

.status-input{
    border-radius: 10px;
    padding-left: 12px;
    font-size: 1em;
    letter-spacing: -0.015em;
    height: 40px;
    border: #9E9E9E 1px solid;
    padding-right: 20px;
    background-color: transparent;
    width: 20%;
    font-family: 'Poppins';
}

.status-input option{
    color: #eaeaea !important;
    background: #060009 !important;
}

.separator{
    height: 1px;
    width: 100%;
    background-color: #eaeaea;
    margin: 20px 0 35px 0;
}

.user-exchanges-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 50px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(2px);
    height: auto;
}

.exchanges-status{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 10px 10px 0 0;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    width: 280px;
    margin-bottom: 30px;
}

.exchanges-status-title{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 10px 5px 5px 5px;
}

.exchanges-status h3{
    font-weight: 700;
    font-size: 14px;
}

.exchanges-status-top{
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px 10px 0px 0px;
    height: 5px;
}

.exchanges-zone{
    display: flex;
    flex-direction: column;
    height: 600px;
    overflow-y: scroll;
}

.exchanges-status ::-webkit-scrollbar {
    width: 10px; 
}
  
.exchanges-status ::-webkit-scrollbar-thumb {
    background-color: #fff; 
}
  
.exchanges-status ::-webkit-scrollbar-thumb:hover {
    background-color: #a8a6a6; 
}
  
.exchanges-status ::-webkit-scrollbar-track {
    background-color: transparent; 
}

@media(min-width:576px){
    .user-exchanges-container{
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-bottom: 50px;
    }

    .exchanges-status{
        width: 415px;
    }
}

@media(min-width:1200px){

    .exchanges-container{
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        width: 100%;
        height: 100vh;
    }
    
    .user-exchanges-container{
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
    }
    
    .exchanges-status{
        margin-bottom: 0px;
        width: 50%;
    }
    
}