.profile-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: auto;
    margin-top: 200px;
}

.profile-card{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 500px;
}

.profile-card-top-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 120px;
}

.profile-card-top-info, .profile-card-top-image, .profile-card-top-buttons{
    width: 33.33%;
    height: 100%;
}

.profile-card-info-list{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 0;
    padding: 15px 5px;
}

.info-list-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
}

.info-list-item h5{
    font-size: 2rem;
    color: #FFA500;
    font-weight: 700;
    text-shadow: 1px 1px 2px black;
}

.info-list-item p{
    font-size: 0.75rem;
}

.profile-card-top-image{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 160px;
    width: 160px;
    background-image: linear-gradient(270deg, #FFA500 10%, #FF1493 100%);
    border-radius: 50%;
    top: -40px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
}

.profile-card-top-image img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    position: absolute;
}

.profile-card-top-buttons{
    padding: 15px 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}

.profile-button{
    padding: 5px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-image: linear-gradient(360deg, #ff14918f 10%, #FF1493 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.profile-button-svg{
    font-size: 30px;
}

.profile-button:hover{
    transform: scale(1.05);
    transition: 0.2s ease-in-out;
    background-image: linear-gradient(360deg, #ff14918f 50%, #FF1493 100%);
}

.profile-card-user-name{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.profile-card-user-name h1{
    font-family: 'Poppins';
    text-shadow: 1px 1px 1px black;
}

.profile-card-user-name p{
    color: #aeaeae;
    font-family: 'Poppins';
}

/* books */

.profile-card-books-container{
    display: flex;
    height: 100%;
    width: 100%;
    position: relative;
    align-items: center;
    justify-content: space-between;
}

.profile-card-my-books-container, .profile-card-wish-list-container{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    width: 500px;
    height: 400px;
    border-radius: 5px !important;
}

.profile-card-my-books-container{
    left: -150px;
}

.profile-card-wish-list-container{
    right: -150px;
}

.books-title{
    width: 100%;
    display: flex;
    padding: 10px;
    border-bottom: 1px solid #aeaeae;
}

.books-container{
    height: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.profile-card-books-container ::-webkit-scrollbar {
    width: 10px; 
}
  
.profile-card-books-container ::-webkit-scrollbar-thumb {
    background-image: linear-gradient(360deg, #ff14918f 50%, #FF1493 100%);
}
  
.profile-card-books-container ::-webkit-scrollbar-thumb:hover {
    background-color: #ff14913b; 
}
  
.profile-card-books-container ::-webkit-scrollbar-track {
    background-color: transparent; 
}

@media(min-width:1200px){
    .profile-container{
        height: calc(100vh - 200px);
    }
}

