.exchange-card-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 300px;
    width: 100%;
    border-radius: 0 !important;
}

.exchange-card-content-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.exchange-card-creator-and-receiver-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
}

.creator-container{
    border-right: 1px solid #aeaeae;
}

.creator-container, .receiver-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    height: 100%;
    padding: 10px;
}

.creator-container h4, .receiver-container h4{
    color: #eaeaea70;
    font-size: 0.9em;
}

.creator-info{
    position: relative;
}

.exchange-id{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 50%;
    height: 35px;
    width: auto;    
    position: absolute;
    top: -54px;
    left: -8px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
}

.creator-info, .creator-book-info, .receiver-info, .receiver-book-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    text-align: center;
}

.creator-info img, .receiver-info img{
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

.image-wrapper {
    width: 76px;
    height: 76px; 
    border-radius: 50%;
    overflow: hidden; 
    background: linear-gradient(270deg, #FF1493 10%, #00FFFF 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}

.book-image-wrapper {
    width: auto;
    height: 126px; 
    overflow: hidden; 
    background: linear-gradient(270deg, #00FFFF 10%, #FF1493 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.creator-book-info img, .receiver-book-info img{
    height: 120px;
    width: auto;
}

.creator-info h5,  .receiver-info h5 {
    font-family: 'Raleway';
}

.creator-book-info h4, .receiver-book-info h4{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.creator-book-info h5, .receiver-book-info h5{
    font-family: 'Raleway';
    font-size: 1rem;
}

.creator-info p, .creator-book-info p, .receiver-info p, .receiver-book-info p{
    color: #9E9E9E;
    font-size: 0.8em;
    margin-bottom: 2px;
}

.exchange-card-date-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-top: 1px solid #aeaeae;
    padding: 4px;
}

.exchange-card-date-container span{
    font-family: 'Poppins';
    font-size: 12px;
    color: #ABABAB;
}

/* buttons container */

.exchange-card-buttons-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 30px;
}

.buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    padding: 10px;
    border-radius: 0px 0px 10px 10px !important;
    border-top: none !important;
}

.buttons p{
    margin-bottom: 0;
}

.exchange-card-button{
    font-size: 0.9rem;
    padding: 5px;
    padding-bottom: 5px;
    cursor: pointer;
    border-radius: 5px;
}

.exchange-card-button:hover{
    transform: scale(1.05);
}

.offer-button{
    color: #00FFFF;
    background-color: #00FFFF1e;
}

.accept-button{
    color: #00FF00;
    background-color: #00ff001e;
}

.reject-button{
    color: #FFA500;
    background-color: #FFA5001e;
}

.cancel-button{
    color: #CD0000;
    background-color: #CD00001e;
}

.completed{
    color: #00FF00;
    background-color: #00ff001e;
}

/* modal */

.my-books-form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px;
    color: black;
}

.my-books-form h4{
    font-weight: 700;
    margin-bottom: 15px;
    width: 100%;
    padding-bottom: 5px;
    border-bottom: 1px solid #ABABAB;
}

.my-books-input-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    width: 100%;
}

.my-books-input-container input{
    width: 300px !important;
}

.my-books-input-container label{
    margin-right: 5px;
}

.my-books-buttons{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.my-books-buttons button{
    width: 49%;
    border-bottom: 1px solid #ABABAB;
    font-weight: 700;
    border-radius: 0;
    color: black;
}

.my-books-buttons button:hover{
    background-color: #e7e5e54d;
    color: black;
}